@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  @apply text-darkViolet bg-background font-['inter'];
}

.btn {
  @apply bg-violet font-medium py-4 px-10 text-white rounded-2xl text-xl;
}

.answer {
  @apply border border-darkViolet font-medium rounded-2xl py-2 px-4
         cursor-pointer hover:bg-answered;
}

.correct {
  @apply  bg-correct font-medium rounded-2xl py-2 px-4 
}

.answered {
  @apply border border-darkViolet font-medium rounded-2xl py-2 px-4
        bg-blue-300 cursor-pointer;
}